{%- import "utils.html" as utils -%}
{% extends "page-base.html" %}

{% block style %}
{{ theme|safe }}
{% endblock %}

{% block pages %}
{% call utils::nav_link("chat-list") %}
<div id="mail-counter" class="text-highlight"></div>
{% call utils::nav_link("mail") %}
{% endblock %}

{% block nav_user %}
{% include "chat.nav.username.html" %}
<div class="hover:text-highlight cursor-pointer ml-2 p-1 bg-primary" onclick="logout()">logout</div>
{% endblock %}

{% block content %}
{{ content|safe }}
{% endblock %}
