<form preporcess="encrypt_message" hx-post="./messages" hx-swap="outerHTML" hx-target="this" class="flex mt-2">
	{% if !errors.is_empty() %}
	<section class="p-2 mb-2 bg-primary flex flex-col">
		{% for error in errors %}
		<p class="text-red-500">{{error}}</p>
		{% endfor %}
	</section>
	{% endif %}

	<input type="text" id="message" name="content" class="bg-primary w-full p-1 line-input" required
		maxlength="1024">
	<input type="submit" value="send" class="bg-primary ml-2 p-1 button">
</form>
