{%- import "utils.html" as utils -%}
<form preprocess="chat_invite" hx-post="./invite" hx-swap="outerHTML" hx-target="this" id="chat-invite-for">
	{% call utils::form_errors(errors) %}
	<div class="inline-form">
		<input class="line-input p-1 flex-1" type="text" name="username" placeholder="username" maxlength="32"
			required />
		<input class="button p-1" type="submit" value="invite" />
		<button type="button" class="button p-1" hx-get="./nav" hx-swap="outerHTML"
			hx-target="#chat-invite-for">
			{% if user_key.is_none() %}fetch user{% else %}invite{% endif %}
		</button>

		{% if user_key.is_some() %}
		<div id="user-key" class="hidden">{{ user_key.as_ref().unwrap() }}</div>
		{% endif %}
	</div>
</form>
