{%- import "utils.html" as utils -%}
{% extends "page-base.html" %}

{% block style %}
{{ theme|safe }}
{% endblock %}

{% block pages %}
{% call utils::nav_link("chat-list") %}
{% endblock %}

{% block nav_user %}
<div hx-get="/profile/{{ username }}/content" hx-push-url="/profile/{{ username }}/" hx-target="#content"
	hx-swap="innerHTML" class="mb-auto mt-auto font-bold hover:text-highlight page-select username-{{ username }}">
	{{ username }}
</div>
<div class="hover:text-highlight cursor-pointer ml-2 p-1 bg-primary" onclick="logout()">logout</div>
{% endblock %}

{% block content %}
{{ content|safe }}
{% endblock %}
