{%- import "utils.html" as utils -%}
<form id="chat-create-form" hx-post="/chat-list/create" hx-swap="outerHTML" hx-target="this">
	{% call utils::form_errors(errors) %}
	<div class="inline-form">
		<input class="bg-primary p-1 flex-1 line-input focused" type="text" name="name" maxlength="32"
			placeholder="chat name" value="{{ name }}" />
		<input class="bg-primary p-1 button" type="submit" value="create" />
		<input hx-get="/chat-list/create/back" hx-swap="outerHTML" hx-target="#chat-create-form"
			class="bg-primary p-1 button" type="button" value="cancel" />
	</div>
</form>
