{%- import "utils.html" as utils -%}
<form preprocess="login" hx-post="/login" hx-target="this" hx-swap="outerHTML" class="normal-form"
	hx-on:htmx:validation:validate="validate_login(this)">
	{% call utils::form_errors(errors) %}

	<input type="text" name="username" placeholder="username" maxlength="32" required value="{{username}}"
		class="line-input" />
	<input type="password" name="password" placeholder="password" onkeyup="this.setCustomValidity('')"
		minlength="16" required class="line-input" />
	<input type="submit" value="login" class="button" />
</form>
