{%- import "utils.html" as utils -%}

<div class="bg-highlight"></div>
<div class="bg-error"></div>
<div class="bg-font"></div>

{% if name_changed %}
{% include "chat.nav.username.html" %}
{% endif %}

<form preprocess="profile" postprocess="profile;{{ username }}" hx-post="/profile" hx-swap="outerHTML" hx-target="this"
	hx-on:htmx:validation:validate="validate_profile(this)">

	{% call utils::form_errors(errors) %}

	<div class="inline-form">
		{% if is_me %}
		<input type="text" name="username" placeholder="username" maxlength="32" required value="{{ username }}"
			class="line-input" />
		{% else %}
		<b>{{ username }}</b>
		{% endif %}

		{% if is_me %}
		<div class="flex gap-2 flex-wrap justify-around">
			<button type="button" class="bu-primary p-1 button" onclick="compute_pk_hash(this)">
				copy public key hash
			</button>
		</div>
		{% endif %}

		{% if is_me %}
		<div class="flex flex-row gap-2 flex-wrap justify-center">
			{% for field_name in "old new confirm".split_whitespace() %}
			<input type="password" name="{{ field_name }}_password" placeholder="{{ field_name }} password"
				class="line-input" onkeyup="this.setCustomValidity('')" />
			{% endfor %}
		</div>
		{% endif %}

		<div id="theme-picker" class="flex flex-row outline outline-offset-[-3px] outline-4 outline-primary">
			{% for field in theme.fields() %}
			<div class='bg-{{ field.name|replace("_color", "") }}'>
				<input {% if !is_me %} disabled {% endif %} class="opacity-0" type="color"
					name="{{ field.name }}" value="{{ field.value|css_color }}"
					oninput="change_color(this)" />
			</div>
			{% endfor %}

			{% if !is_me %}
			<button type="button" class="bg-primary p-1 button"
				onclick="apply_theme(this, 'theme-picker')">try</button>
			{% endif %}
		</div>

		{% if is_me %}
		<input type="submit" value="save" class="bg-primary p-1 button" />
		{% endif %}
	</div>
</form>
