{%- import "utils.html" as utils -%}
<form preprocess="register" hx-post="/register" hx-target="this" hx-swap="outerHTML" class="normal-form"
	hx-on:htmx:validation:validate="validate_register(this)">
	{% call utils::form_errors(errors) %}

	<input type="text" name="username" placeholder="username" maxlength="32" required value="{{username}}"
		class="line-input mb-2" />
	<input type="password" name="password" onkeyup="this.setCustomValidity('')" placeholder="password"
		minlength="16" required class="line-input mb-2" />
	<input type="password" name="confirm_password" onkeyup="this.setCustomValidity('')"
		placeholder="confirm password" minlength="16" required class="line-input mb-2" />

	<input type="submit" value="register" class="button" />
</form>
